@model CandyListViewModel
@{
    ViewData["Title"] = "List";
}

<h1>@Model.CurrentCategory</h1>
<p>Hej!</p>

@foreach (var candy in Model.Candies)
{ 
    <partial name="_candyCard" model="candy" />
}

